{% extends 'main/layout.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="features">
<h1>About</h1>
    <p>Добро пожаловать к нам на сайт! Специализированный интернет - магазин промышленных фильтров.
        Основным видом продукции компании являются качественные промышленные фильтры для очистки воздуха,
        газов, масел в различных сферах применения. Мы собрали в своем ассортименте огромный выбор промышленных
        и технологических фильтров, а также расходных материалов к ним, чтобы вы обязательно смогли приобрести
        все необходимое</p>
    <button class="btn btn-primary">Success awaits you</button>
</div>
{% endblock %}